@import "../../../../styles/variables.less";

.celebrationListWrapper {
    border: 1px solid darken(@background-normal-color, 15%);
    border-radius: 6px;
    padding: 20px 5px;
}

.celebrationList {
    margin-top: 30px;
}