@import "./variables.less";

#Celebminder { 
    background-color: @background-light-color;
    color: @primary-darker-color;
}

.react-datepicker-wrapper {
    display: block;
    width: 100%;
}

// Bootstrap + React-Datepicker would make the validations invisible without this
.react-datepicker-wrapper + .valid-feedback,
.react-datepicker-wrapper + .invalid-feedback {
    display: block !important;
}