@import "./variables.less";

#Celebminder { 
    background-color: @background-light-color;
    color: @primary-darker-color;
}

.react-datepicker-wrapper {
    display: block;
    width: 100%;
}
