@import "./variables.less";

.icons {
    margin-top: @spacing;
    padding: 0px @spacing;
}

.icon {
    display: inline-block;
    cursor: pointer;
    color: @primary-color;
    padding: 0px @spacing;

    :hover {
        color: @primary-darker-color;
    }

    .iconSvg {
        height: 30px;
        width: 30px;
    }
}
