@spacing: 5px;

@primary-color: #4A7567;
@primary-darker-color: darken(@primary-color, 10%);

@background-danger-color: #F5CBA4;
@background-warning-color: #F5DEA4;
@background-normal-color: #A4F5DA;
@background-light-color: lighten(@background-normal-color, 15%);