@import "../../../../styles/variables.less";

.celebration {
    max-width: 500px;
    margin: 8px auto;
    padding: @spacing 0px;
    background-color: @background-normal-color;
    border: 1px solid @primary-color;
    border-radius: 6px;

    .topLeftSection, .bottomLeftSection {
        padding: 0px @spacing;
    }

    .who {
        font-size: 20px;
        font-weight: 600;
    }
}

.celebrationDanger {
    background-color: @background-danger-color;
    border-color: darken(@background-danger-color, 15%);
}

.celebrationWarning {
    background-color: @background-warning-color;
    border-color: darken(@background-warning-color, 15%);
}

.celebrationFooter {
    margin-top: 20px;
}
